body {background-color: #6b6b6b;}

.inicio {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 350%;
    color: black;
}
.pp {font-style: italic;
    font-size: 150;
    text-align: center;
    color: black;}
    